h1 {
    font-family: sans-serif;
}
h2 {
    text-align: left;
    font-family: sans-serif;
}
h3 {
    color: rgb(0,0, 255, 0.8);
}
p {
    font-family: serif;
}
a {
    font-family: sans-serif;
    color: darkgreen;
}
del {
    color: grey;
}
mark {
    color: darkblue;
    background-color: pink;
}
pre {
    font-family: monospace;
}
pre.transparent-text {
    font-family: monospace;
    color: rgb(180, 180, 180, 0.5);
}