h1 {
    font-family: sans-serif;
}
h2 {
    text-align: left;
    font-family: sans-serif;
}
p {
    font-family: serif;
}
a {
    font-family: sans-serif;
    color: darkgreen;
}
del {
    color: grey;
}
mark {
    color: darkblue;
    background-color: pink;
}
pre {
    font-family: monospace;
}
