h1 {
    color: red;
}
h2 {
    text-align: center;
}
p {
    font-family: sans-serif;
}
a {
    font-family: sans-serif;
    color: red;
}
del {
    color: grey;
}
mark {
    color: dimgrey;
    background-color: pink;
}
pre {
    font-family: monospace;
    font-size: 80%;
}
